* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Fondamento', cursive;
}

#background {
    width: 300vw;
    height: 200vh;
    position: absolute;
    top: 0;
    transform-origin: center;
    animation-name: translate-background;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(0deg, #e9f2f5 0%, #c9e6f0 30%, #3b406d 80%, #030d53 100%);
}

#ground {
    position: fixed;
    width: 200vw;
    height: 50vh;
    bottom: -25vh;
    left: -50vw;
    z-index: 2;
    background-color: rgb(220, 221, 128);
    border-radius: 70%;
    animation-name: ground-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#night {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50vh;
    z-index: 1;
}

#day {
    position: absolute;
    top: 60%;
    width: 100vw;
    height: 50vh;
    z-index: 1;
}

.star {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 30px 0 #fff;
}

#one {
    top: 50%;
    left: 80%;
}

#two {
    height: 10px;
    width: 10px;
    top: 35%;
    left: 21%;
}

#three {
    top: 80%;
    left: 45%;
}

#moon {
    width: 120px;
    height: 120px;
    background-image: linear-gradient(35deg, #616161, #d1d0d0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
    border-radius: 50%;
    position: absolute;
    top: 10vh;
    left: 10vw;
}

#sun {
    position: absolute;
    top: 10vh;
    height: 120px;
    width: 120px;
    left: 90vw;
    background-image: radial-gradient(rgb(255, 255, 115), rgb(255, 255, 168));
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(249, 255, 172);
}

#text1 {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    color: rgba(224, 224, 224, 0.616);
}

#text2 {
    z-index: 2;
    position: absolute;
    left: 20%;
    top: 50%;
    color: rgba(190, 186, 121, 0.616);
}

#main-quote {
    width: 30vw;
    height: 20vh;
    position: absolute;
    top: 45%;
    left:10vw;
    transform: translateY(-50%);
    margin: 0 auto;
    font-size: 24px;
    color: rgba(58, 58, 59, 0.801);
    animation-name: quote;
    animation-duration: 12.5s;
    animation-iteration-count: infinite;
}

#main-quote hr {
    opacity: 0.2;
    border: 1px solid black;
}

#main-quote hr {
    margin: 12px 0;
    text-align: justify;
}

#stephen {
    width: 64vw;
    height: 75vh;
    position: absolute;
    opacity: 0;
    filter: grayscale(1);
    top: 45%;
    left: 30vw;
    transform: translateY(-50%);
    animation-name: stephen-animation;
    animation-duration: 12.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes translate-background {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateY(-50%);
    }
    
    100% {
        transform: translateY(0%);
    }
}

@keyframes ground-animation {
    0% {
        background-color:  rgb(117, 113, 54);
    }

    50% {
        background-color: rgb(242, 243, 161);
    }
    
    100% {
        background-color: rgb(117, 113, 54);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 30px 0 #fff;
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 10px 0 #fff;
        transform: scale(0.6);
    }

    100% {
        box-shadow: 0 0 30px 0 #fff;
        transform: scale(1);
    }
}

@keyframes stephen-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes quote {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}